
.lh10{
	line-height: 10px;
}
.lh20{
	line-height: 20px;
}
.lh30{
	line-height: 30px;
}
.lh35{
	line-height: 35px;
}
.lh40{
	line-height: 40px;
}
.lh45{
	line-height: 45px;
}
.lh50{
	line-height: 50px;
}
.lh60{
	line-height: 60px;
}
.lh80{
	line-height: 80px;
}
.lh100{
	line-height: 100px;
}
.fs0 {
	font-size: 0
}

.fs8 {
	font-size: 8px
}

.fs10 {
	font-size: 10px
}

.fs12 {
	font-size: 12px
}

.fs14 {
	font-size: 14px
}

.fs16 {
	font-size: 16px
}

.fs18 {
	font-size: 18px
}

.fs20 {
	font-size: 20px
}

.fs26 {
	font-size: 26px
}

.fs36 {
	font-size: 36px
}

.fs48 {
	font-size: 48px
}

.fs54 {
	font-size: 54px
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt15 {
	margin-top: 15px
}

.mt20 {
	margin-top: 20px
}

.mt30 {
	margin-top: 30px
}

.mt40 {
	margin-top: 40px
}

.mt50 {
	margin-top: 50px
}

.mt60 {
	margin-top: 60px
}

.mt70 {
	margin-top: 70px
}

.mt80 {
	margin-top: 80px
}

.mt90 {
	margin-top: 90px
}

.mt100 {
	margin-top: 100px
}

.mt-1 {
	margin-top: -1px
}

.mt-2 {
	margin-top: -2px
}

.mt-3 {
	margin-top: -3px
}

.mt-4 {
	margin-top: -4px
}

.mt-5 {
	margin-top: -5px
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb15 {
	margin-bottom: 15px
}

.mb20 {
	margin-bottom: 20px
}

.mb30 {
	margin-bottom: 30px
}

.mb40 {
	margin-bottom: 40px
}

.mb50 {
	margin-bottom: 50px
}

.mb60 {
	margin-bottom: 60px
}

.mb70 {
	margin-bottom: 70px
}

.mb80 {
	margin-bottom: 80px
}

.mb90 {
	margin-bottom: 90px
}

.mb100 {
	margin-bottom: 100px
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml15 {
	margin-left: 15px
}

.ml20 {
	margin-left: 20px
}

.ml30 {
	margin-left: 30px
}

.ml40 {
	margin-left: 40px
}

.ml50 {
	margin-left: 50px
}

.ml60 {
	margin-left: 60px
}

.ml70 {
	margin-left: 70px
}

.ml80 {
	margin-left: 80px
}

.ml90 {
	margin-left: 90px
}

.ml100 {
	margin-left: 100px
}

.ml-1 {
	margin-left: -1px
}

.ml-2 {
	margin-left: -2px
}

.ml-3 {
	margin-left: -3px
}

.ml-4 {
	margin-left: -4px
}

.ml-5 {
	margin-left: -5px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr15 {
	margin-right: 15px
}

.mr20 {
	margin-right: 20px
}

.mr30 {
	margin-right: 30px
}

.mr40 {
	margin-right: 40px
}

.mr50 {
	margin-right: 50px
}

.mr60 {
	margin-right: 60px
}

.mr70 {
	margin-right: 70px
}

.mr80 {
	margin-right: 80px
}

.mr90 {
	margin-right: 90px
}

.mr100 {
	margin-right: 100px
}

.mlr10 {
	margin-right: 10px;
	margin-left: 10px
}

.mlr20 {
	margin-right: 20px;
	margin-left: 20px
}

.mlr30 {
	margin-right: 30px;
	margin-left: 30px
}

.mlr40 {
	margin-right: 40px;
	margin-left: 40px
}

.mlr50 {
	margin-right: 50px;
	margin-left: 50px
}

.mlr60 {
	margin-right: 60px;
	margin-left: 60px
}

.mlr70 {
	margin-right: 70px;
	margin-left: 70px
}

.mlr80 {
	margin-right: 80px;
	margin-left: 80px
}

.mlr90 {
	margin-right: 90px;
	margin-left: 90px
}

.mlr100 {
	margin-right: 100px;
	margin-left: 100px
}

.mtb5 {
	margin-top: 5px;
	margin-bottom: 5px
}

.mtb10 {
	margin-top: 10px;
	margin-bottom: 10px
}

.mtb20 {
	margin-top: 20px;
	margin-bottom: 20px
}

.mtb30 {
	margin-top: 30px;
	margin-bottom: 30px
}

.mtb40 {
	margin-top: 40px;
	margin-bottom: 40px
}

.mtb50 {
	margin-top: 50px;
	margin-bottom: 50px
}

.mtb60 {
	margin-top: 60px;
	margin-bottom: 60px
}

.mtb70 {
	margin-top: 70px;
	margin-bottom: 70px
}

.mtb80 {
	margin-top: 80px;
	margin-bottom: 80px
}

.mtb90 {
	margin-top: 90px;
	margin-bottom: 90px
}

.mtb100 {
	margin-top: 100px;
	margin-bottom: 100px
}

.p3 {
	padding: 3px
}
.p5 {
	padding: 5px
}

.p10 {
	padding: 10px
}

.p15 {
	padding: 15px
}

.p20 {
	padding: 20px
}

.p30 {
	padding: 30px
}

.p40 {
	padding: 40px
}

.p50 {
	padding: 50px
}

.p60 {
	padding: 60px
}

.p70 {
	padding: 70px
}

.p80 {
	padding: 80px
}

.p90 {
	padding: 90px
}

.p100 {
	padding: 100px
}

.pt5 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pt15 {
	padding-top: 15px
}

.pt20 {
	padding-top: 20px
}

.pt30 {
	padding-top: 30px
}

.pt40 {
	padding-top: 40px
}

.pt50 {
	padding-top: 50px
}

.pt60 {
	padding-top: 60px
}

.pt70 {
	padding-top: 70px
}

.pt80 {
	padding-top: 80px
}

.pt90 {
	padding-top: 90px
}

.pt100 {
	padding-top: 100px
}

.pb5 {
	padding-bottom: 5px
}

.pb10 {
	padding-bottom: 10px
}

.pb15 {
	padding-bottom: 15px
}

.pb20 {
	padding-bottom: 20px
}

.pb30 {
	padding-bottom: 30px
}

.pb40 {
	padding-bottom: 40px
}

.pb5 {
	padding-bottom: 5px
}

.pb10 {
	padding-bottom: 10px
}

.pb15 {
	padding-bottom: 15px
}

.pb20 {
	padding-bottom: 20px
}

.pb30 {
	padding-bottom: 30px
}

.pb50 {
	padding-bottom: 50px
}

.pl5 {
	padding-left: 5px
}

.pl10 {
	padding-left: 10px
}

.pl15 {
	padding-left: 15px
}

.pl20 {
	padding-left: 20px
}

.pl26 {
	padding-left: 26px
}

.pl30 {
	padding-left: 30px
}

.pl40 {
	padding-left: 40px
}

.pl50 {
	padding-left: 50px
}

.pl200 {
	padding-left: 200px
}

.pr5 {
	padding-right: 5px
}

.pr10 {
	padding-right: 10px
}

.pr15 {
	padding-right: 15px
}

.pr20 {
	padding-right: 20px
}

.pr30 {
	padding-right: 30px
}

.pr40 {
	padding-right: 40px
}

.pr50 {
	padding-right: 50px
}

.pr60 {
	padding-right: 60px
}

.pr70 {
	padding-right: 70px
}

.pr80 {
	padding-right: 80px
}

.pr90 {
	padding-right: 90px
}

.pr100 {
	padding-right: 100px
}

.plr5 {
	padding-right: 5px;
	padding-left: 5px
}

.plr10 {
	padding-right: 10px;
	padding-left: 10px
}

.plr20 {
	padding-right: 20px;
	padding-left: 20px
}

.plr30 {
	padding-right: 30px;
	padding-left: 30px
}

.plr50 {
	padding-right: 50px;
	padding-left: 50px
}

.plr60 {
	padding-right: 50px;
	padding-left: 50px
}

.ptb50 {
	padding-top: 50px;
	padding-bottom: 50px
}

.ptb30 {
	padding-top: 30px;
	padding-bottom: 30px
}

.ptb20 {
	padding-top: 20px;
	padding-bottom: 20px
}

.ptb10 {
	padding-top: 10px;
	padding-bottom: 10px
}

.ptb5 {
	padding-top: 5px;
	padding-bottom: 5px
}

body,html {
	font-size: 14px;
	line-height: 30px;
}

h2,.H2 {
	font-size: 32px;
	line-height: 32px;
}

.wrap {
	max-width: 1200px;
	min-width: 1024px;
	width: 100%;
	margin: 0 auto;
}
header{
	height: 150px;
}
header .logo{
	padding-top:50px;
}
header .search{
	padding-top:80px;
}
header .searchBtn{
	background:#0a54ab;
	width:80px;
	height:30px;
	line-height: 30px;
	display:inline-block;
	color:#fff;
}
header input{
	height: 28px;
	line-height: 28px;
	width:227px;
	margin-left: 15px;
}
header .icon-search{
	display: inline-block;
	vertical-align: sub;
	background: url(/public/images/iconSearch.png) no-repeat;
	width: 13px;
	height: 13px;
}
nav{
	height: 55px;
	line-height: 55px;
	background: #0a54ab;
	color:#fff;
	font-size:16px;
}
.nav1 .nav1,
.nav2 .nav2,
.nav3 .nav3,
.nav4 .nav4,
.nav5 .nav5,
.nav6 .nav6,
.nav7 .nav7,
.nav8 .nav8,
.nav9 .nav9
{
	background: #0d68db;
}
nav li:hover{
	background: #0d68db;
	cursor: pointer;
}
.col9-1{
	float: left;
	display: inline-block;
	clear: right;
	height:100%;
	width: 11.11111111111111%;
}
footer{
	height: 145px;
	background: #062e61;
	color:#fff;
}
footer{
	padding-top:35px
}
.ls-container {
	left: 0;
	right: 0;
	width: 100%;
	/*height:40rem;*/
	/*padding-bottom: 0.625rem;*/
	min-height: 350px;
	background-size: 100%;
}
