	.ls-container .hot{
		padding: 45px 300px 45px 0;
		position:relative;
	}

	.ls-container .hot-left{
		height: 450px;
	}
	.ls-container .hot-left .img>img{
		width: 100%;
		height: 240px;
	}
	.ls-container .hot-left .title{
		line-height: 45px;
		color:#0a54ab;
	text-align: center;
		font-size: 16px;
		font-weight: 700;
	}
	.ls-container .hot-left .btn-info{
		width: 86px;
		position: relative;
		line-height: 25px;
	}
	.ls-container .hot-left .triangle{
		position: absolute;
		width: 0px;
		height: 0px;
		right: 14px;
		top: 50%;
		margin-top: -5px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 7px solid #fff;
		border-right: none;
	}
	.ls-container .hot-left .hot-list>p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space:nowrap;
		padding-left:30px;
	}
	.ls-container .hot-left .hot-list>hr{
		margin: 20px 0 20px 30px;
	}
	.ls-container .hot-left .hot-list>p:hover{
		color:#0a54ab;
	}
	.ls-container .hot-right{
		position:absolute;
		right:0px;
		top:45px;
		background: url(/public/images/rightbg.jpg) no-repeat;
		width: 217px;
		height: 441px;
		background-size: 100% 100%;
	}
	.ls-container .hot-right .btn-light-info{
		width: 175px;
		line-height: 30px;
	}
	.ls-container .hot-right li{
		margin-top: 15px;
	}
	.ls-container .hot-right ul{
		margin-top: 106px;
	}
	.hot-left .swiper-pagination{
		top: 221px;
		height:28px
	}

	.hot-left .swiper-pagination-bullet {
		width: 23px;
		height: 14px;
		display: inline-block;
		border-radius: 0;
		background: #070707;
		opacity: 1;
		color:#fff;
		line-height: 14px;
	}
	.hot-left .swiper-pagination-bullet-active {
		background:#ce0609 ;
		position: relative;
	}
	.hot-left .swiper-pagination-bullet-active:after {
		position: absolute;
		content: " ";
		width: 0px;
		height: 0px;
		left: 50%;
		top: -4px;
		margin-left: -5px;
		border-top: none;
		border-bottom: 5px solid #ce0609;
		border-left: 5px solid transparent;
		border-right:  5px solid transparent;
	}
.notice>.col{
	height: 450px;
}
.notice .img>img{
	width: 100%;
	height: 140px;
}
.notice dt{
	color:#353535;
	line-height: 65px;
	font-weight: 700;
	text-align: center;

}
.notice .note1 dd{
	margin:0 15px;
	padding:10px 0px 10px 15px;
	position:relative;
	border-top:1px dashed #c1c1c1;
}
.notice .note1 dd .triangle{
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 20px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 7px solid #05439a;
	border-right: none;
}
.notice .note2 .listTitle,
.notice .note2 .list{
	padding:0 30px;

}
.notice .note2 .listTitle>div{
	border:1px solid #c05000;
	color:#c64f00;
	background: #ffd8be;
	padding:10px 25px;
}
.notice .note2 .list a{
	display: inline-block;
	border:1px solid #8fc1f4;
	vertical-align: sub;
	color:#0a54ab;
	line-height: 35px;
	background: #e0edfd;
	width:45%;
	margin-top:5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-bordder-radius: 3px;
	-o-user-select: 3px;
	text-align: center;
}
.notice .note3 dd{
	background: url(/public/images/notice/line.png) center top no-repeat;
	line-height: 50px;
	text-align: center;
	color:#0a54ab;
}
.notice .note3 dl:after{
	content: " ";
	height: 3px;
	display: block;
	background: url(/public/images/notice/line.png) center top no-repeat;
}
.notice .note4 dd {
	padding:0 20px;
}
.notice .note4 .list a{
	display: inline-block;
	border: 1px solid #c1c1c1;
	margin-top: -1px;
	width: 100%;
	line-height: 45px;
}
.notice .note4 .list li{
	position: relative;
}
.notice .note4 .triangle{
	position: absolute;
	width: 0px;
	height: 0px;
	right: -1px;
	bottom: 0px;
	border-top: 10px solid transparent;
	border-bottom: none;
	border-right: 10px solid #c9c9cb ;
	border-left: none;
}

.notice .icon-ask{
	display: inline-block;
	background: url(/public/images/notice/sms.png) no-repeat;
	width: 29px;
	height: 22px;
}
.notice .icon-complaints{
	display: inline-block;
	background: url(/public/images/notice/cloud.png) no-repeat;
	width: 33px;
	height: 23px;
}
.notice .icon-tel{
	display: inline-block;
	background: url(/public/images/notice/call.png) no-repeat;
	width: 33px;
	height: 26px;
}
.notice .icon-report{
	display: inline-block;
	background: url(/public/images/notice/computer.png) no-repeat;
	width: 28px;
	height: 24px;
}

.intro>.col{
	height: 300px;
}
.intro .title{
	border-bottom: 1px solid #83a5c0 ;
	line-height: 30px;
	margin: 20px 0;
	font-size: 16px;
	color:#fff;
}
.intro .bd-left{
	border-left: 1px solid #83a5c0 ;
}
.intro .title>span{
	display: inline-block;
	position: relative;
}
.intro .title>span:after{
	content: " ";
	position:absolute;
	width: 100%;
	height:0;
	border-top:2px solid #fff;
	bottom: -1px;
	left:0;
}
.intro .note1,
.intro .note2{
	background: #2c5072;
	color:#8ea4b3;
}


.friendLink{
	height:154px;
}
.friendLink .title{

	margin-top: 40px;
	border-bottom:1px solid #c1c1c1;
	color:#052d5e;
	text-align: center;
	font-size: 18px;
}
.friendLink .title>span{
	display: inline-block;
	position: relative;
}
.friendLink .title>span:after{
	content: " ";
	position:absolute;
	width: 100%;
	height:0;
	border-top:2px solid #052d5e;
	bottom: -1px;
	left:0;
}
.friendLink select {
	width: 90%;
	display: inline-block;
	margin-top:20px;
	height: 35px;
}
