@import url(/web/02leftnav.css);

.right-content .searchBtn{
    background:url(/public/images/product/searchbtn.png) no-repeat ;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.right-content .list .img{
    position: relative;
    width: 181px;
    height: 156px;
    display: inline-block;
    overflow: hidden;
}
.right-content .list .img:after{
    content: " ";
    background: url(/public/images/product/kuang.png) no-repeat;
    position: absolute;
    left: 0;
    top: 0px;
}
.right-content .list .img>img,.right-content .list .img:after{
   width: 100%;
   height: 100%;
}
.right-content .list h4{
    color:#1d1d1d;
    padding: 10px 20px;
    font-size: 20px;
}
.right-content .list>li{
    height: 330 px;
}
.right-content i.cricle{
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 23px;
    -moz-border-radius: 50%;
    -webkit-bordder-radius: 50%;
    -o-user-select: 50%;
    background: #999;
}