.info-contain{
	border-top:none ;
	border-bottom:none ;
}
.companyList>li>div{
	 padding:3px;
}
.companyList>li>div>img{
	width: 100%;
	height: 100%;
}
.logotel{
	width: 400px;
	margin: 0 auto;
	padding-top:30px ;
}
.logotel>div{
	display: inline-block;
	height: 135px;
}