.header{
	text-align: center;
}
.loginlogo{
	margin-top: 2rem;
	height: 14rem;
}
.ipt {
	display: block;
	width: 100%;
	border-left:none;
	border-right:none;
	height: 2rem;
}

footer{
	line-height: 2rem;
	height: 2rem;
	margin-top: 1rem;
}
