.btn{
	width:90%;
	height:3rem;
	line-height: 3rem;
	text-align: center;
	color:#fff;
}
.ipt-text{
	height: 17rem;
	background: #fff;
	border-right:none;
	border-left: none;
}
textarea{
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
}
textarea:focus{
	outline: none;
	border:none;
}