.userinfo{
	height: 10rem;
	padding-top: 1.5rem;
}
.userinfo .tips{
	position:absolute;
	right: -0.315rem;
	top:0;
}
.userinfo .tips .text{
	position:absolute;
	left:6px;
	top:0;
}
.userinfo .tip1,.userinfo .tip2{
	margin:0 auto;
	height: 4.5rem;
	line-height: 2rem;
	padding: 1rem;
	display: inline-block;
	width: 6rem;
}
.userinfo .tip1{
	background-image: url(/public/images/userTipBg1.png);
	background-position: center 0px;
	background-repeat:no-repeat;
	background-size: auto 100%;

}
.userinfo .tip2{
	background-image: url(/public/images/userTipBg2.png);
	background-position: center 0px;
	background-repeat:no-repeat;
	background-size: auto 100%;
}
