body{
	min-height: 500px;
	min-width:1060px;
	color:#666;
    position: relative;
}
a{
	text-decoration: none;
	color:inherit;
}
header{
	background: #eee;
	height: 5rem;
	padding-left:150px;
	line-height: 5rem;
	font-size: 1rem;
}
.color-icon-clock{
	background: url(/public/images/clock.png);
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
}
.color-icon-save{
	background: url(/public/images/import.png) no-repeat;
	width: 22px;
	height: 21px;
	margin-right: 4px;
	vertical-align: sub;
	display: inline-block;
}
.color-icon-date{
	background: url(/public/images/date.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	position:absolute;
	right:4px;
	top:50%;

}
.color-icon-jpgicon{
	background: url(/public/images/jpgIcon.png) no-repeat center center;
}
.color-icon-excelicon{
	background: url(/public/images/excelIcon.png) no-repeat center center;
}
.color-icon-wordicon{
	background: url(/public/images/wordIcon.png) no-repeat center center;
}
.color-icon-pdficon{
	background: url(/public/images/pdfIcon.png) no-repeat center center;
}
.color-icon-jpgicon,
.color-icon-excelicon,
.color-icon-wordicon,
.color-icon-pdficon,
.color-icon-adminupload
{

	width: 16px;
	height: 16px;
	margin-right: 4px;
	vertical-align: sub;
	display: inline-block;
}
.color-icon-adminupload{

	background: url(/public/images/upload.png) no-repeat center center;
	width: 22px;
	height: 22px;
}
.layui-btn-opa:hover{
	color:#666;
}
.layui-btn.layui-btn-opa,
.layui-btn.layui-btn-opa-icon{
	background: #e0f1fb;
	color:#444;
	padding: 0 5px;
	min-width: 80px;
	text-align: center;
	display: inline-block;
	-moz-box-shadow:1px 5px 4px #edfcff inset;             /* For Firefox3.6+ */
	-webkit-box-shadow:1px 5px 4px #edfcff inset;          /* For Chrome5+, Safari5+ */
	box-shadow: 1px 5px 4px #edfcff inset;
	border-radius: 5px;
	border:1px solid #c1c1c1;
}
.turnback .layui-btn-primary{border-color: #4184c8; color: #4184c8;background: #fff;width: 80px;}
.turnback .layui-btn-primary:hover{border-color: #1E9FFF; color: #1E9FFF
}
header .edit{
	color:#fc883d;
	margin-left:10px;
}
header .edit>span{
	text-decoration: underline;
}
header .welcome{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
header .msgNum,
header .login{
	width: 1.5625rem;
	height: 1.5625rem;
	line-height: 1.5625rem;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
header .tips{
	display: inline-block;
	vertical-align: middle;
}
header .right{
	float: right;
	line-height: 5rem;
	text-align: right;
}

header .search{
	width: 300px;
	display: inline-block;
	vertical-align: middle;
	height: 2.375rem;
	position:relative;
}
header .search .layui-input{
	border-radius:2.375rem ;
	height: 2.375rem;
	padding-right:30px;
}

header .search i{
	cursor: pointer;
	position: absolute;
	right: 10px;
	margin-top:-0.5rem;
	top:50%;
}
header .login{
	margin-right:20px;
	cursor: pointer;
}

.ls-container{
	padding: 30px 30px 30px 160px;
}
.mr10{
	margin-right:10px ;
}
.mr30{
	margin-right:30px ;
}
.mt20{
	margin-top:1.25rem;
}
.t-green{
	color:#009688;
}
.t-red{
	color:#db512c;
}
/*浮动布局 宽度*/
.col:after {
	content: " ";
	display: block;
	clear: both;
}

.col .col1, .col .col2, .col .col3, .col .col4, .col .col5, .col .col6, .col .col7, .col .col8, .col .col9, .col .col10, .col .col11, .col .col12,
.col .col20, .col .col40, .col .col60,.col .col80
{
	float: left;
	display: inline-block;
	clear: right;
	height:100%
}

.col .col1 {
	width: 8.33%
}

.col .col2 {
	width: 16.66%
}
.col .col20 {
	width: 20%
}
.col .col3 {
	width: 25%
}

.col .col4 {
	width: 33.33%
}
.col .col40 {
	width: 40%
}
.col .col5 {
	width: 41.67%
}

.col .col6 {
	width: 50%
}

.col .col7 {
	width: 58.33%
}
.col .col60 {
	width: 60%
}

.col .col8 {
	width: 66.66%
}

.col .col9 {
	width: 75%
}
.col .col80 {
	width: 80%
}
.col .col10 {
	width: 83.33%
}

.col .col11 {
	width: 91.66%
}

.a-wrap{
	display: block;
	cursor: pointer;
}
nav{
	position:absolute;
	left:0px;
	min-height:100% ;
	width:130px;
	top:0px;
	background:#0a3172;
	text-align: center;
}
nav .layui-nav{
	background:#0a3172;
}
nav .layui-nav-tree {
	width: 100%;
}
nav .title{
	height: 10.625rem;
}
nav .title>img{
	margin-top:1.5rem;
	height: 7.1875rem;
}
nav .layui-nav-item p{
	line-height: 1.5625rem;
}
nav .layui-nav-item,
nav .layui-nav-tree .layui-nav-item a {
	height:5.3125rem;
	font-size: 0.875rem;
	color: #fff;
}
nav .layui-nav-tree .layui-nav-item a:hover {
	background-color: #0aa5ff;
}
nav .layui-nav-tree .layui-this,
nav .layui-nav-tree .layui-this>a,
nav .layui-nav-tree .layui-this>a:hover,
nav .layui-nav-tree .layui-nav-child dd.layui-this
nav .layui-nav-tree .layui-nav-title a,
nav .layui-nav-tree .layui-nav-title a:hover,
nav .layui-nav-itemed>a {
	background-color: #0aa5ff !important;
	color: #fff !important;
	color: #fff;
}
nav .layui-nav-tree .layui-nav-bar {
	background-color: #0aa5ff;
}
nav .icon-wrap{
	margin-top: 1rem;
	font-size: 1.875rem;
}
nav .layui-nav-tree{
	padding-bottom:5.3125rem;
	overflow: hidden;
}
nav .bottom{

	color:#666;
	background: #ffcc01 ;
	position:absolute;
	left:0;
	width: 100%;
	bottom: 0;
	height:5.3125rem;
}